[Unit]
Description=Wisp Activity Tracker
After=default.target

[Service]
Type=dbus
BusName=com.saqr.wisp
ExecStart=%h/.local/bin/wisp-daemon
Restart=on-failure
RestartSec=2

[Install]
WantedBy=default.target
